@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: "Roboto", "Sans Serif Collection", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

table {
    border-collapse: collapse;
    width: 30vw;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.GoBackButton{
    margin-top: 3vh;
    background-color: cadetblue;
    color: snow;
    border: none;
    padding: .5rem 1rem;
    transition: .3s;
}

