@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: "Roboto", "Sans Serif Collection", serif;
    background: #262a2b;
    color: #c8c3bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    gap: 5vh;
    margin: 0;
}

.pointer{
    cursor: pointer;
}





/*Turn off arrows in in input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
